#loginModalDialog .modal-dialog{
  width: 500px;

}
#loginModalDialog .modal-title{
  font-weight: bold;
}
#loginModalDialog #inputEmail{
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
#loginModalDialog #inputPassword{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginModalDialog button{
  font-weight: bold;
}
