.main{
	width:500px;
	margin: 0 auto;
	border: 1px solid gray;
	padding: 20px;
}
.register{
	text-align: right;
	padding-right: 150px;
	
}
.register li{
	height:30px;
	list-style-type: none;
	
}
label.name{
	text-align: right;
	margin-right: 10px;
}